<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Resume Maker</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">RESUME MAKER</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          
       </ul>
    </div>
  </nav>

  <body>
    <div class="container">


<div class="mainthing">
    <div class="mainchild">
        <h1 class="maintext">Welcome to Resume Maker!</h1>
        <div class="login-buttons">
            <a class='btn btn-primary ' href="/login">Login</button>  </a>  
    <a class='btn btn-primary ' href="/register">Register</button> </a>
        </div>
    
    </div>
    
</div>




<%- include("partials/footer"); -%>