<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Resume Maker</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">RESUME MAKER</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          
       </ul>
    </div>
  </nav>

  <body>
    <div class="container">

<div class='container'></div>
<h1 class="logintext">Register</h1>

<div class='row'>
    <div class='col-sm-8'>
        <div class='card'>
            <div class='card-body'>
                <form autocomplete="off" action="/register" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class='form-control' name="username" >
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class='form-control' name="password" >
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <button class="btn btn-primary"><a href="/">Back to home</a></button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>